<form name="$ctrl.form" class="form-signin" novalidate>
  <input placeholder="Password"
         class="form-control"
         name="pwd" ng-model="$ctrl.userData.userPassword"
         type="password"
         ng-minlength=3
         ng-maxlength=20  required autofocus />
  <div  class="text-danger" ng-messages="$ctrl.form.pwd.$error">
    <div ng-message="required">This field is required</div>
    <div ng-message="minlength">Password must be over 3 characters</div>
    <div ng-message="maxlength">Password must not exceed 20 characters</div>
  </div>
  <br>
  <br>
  <a ui-sref='authorization.file' >
    <button class="btn btn-lg btn-primary pull-right"
            ng-click="$ctrl.submit()"
            ng-disabled="$ctrl.form.$invalid"> Next
    </button>
  </a>
  <a class="btn btn-lg btn-primary pull-left" ui-sref="authorization">Back</a>
</form>
