<button class='class= btn btn-info btn-md settings_button' ng-click='$ctrl.toggle()'>
  Settings
</button>
<div pageslide class='settingsSlide' ps-open='$ctrl.showSlide' ps-click-outside='false'>
  <page-slide toggle="$ctrl.toggle()" saved-settings='$ctrl.save2(newSettings)'></page-slide>
</div>