<div>
  <div class = "container-fluid text-center">
   	<h2>Search Result</h2>
  </div>
  <div class="container-fluid col-md-12">
    <div class='col-md-9'>
     <div class="col-md-10 mx-auto">
       <h3>Few tips</h3>
       <ul class="list-group" >
         <li class="list-unstyled panel">If field Domain is empty it means this person have never been on this site</li>
         <li class="list-unstyled panel">If field '#'' is zero it means this person has visits on this Domain but not  on choosen peiod</li>
         <li class="list-unstyled panel">If you want go back to filter options press 'Search' on navigation panel</li>       
       </ul>
    </div>
    </div>
    <div class='col-md-3'>
      <h4 class="text-center">Period which You select</h4>
      <ul class="list-group">   
        <li class="list-group-item bg-info"> From <span ng-bind="$ctrl.getTimeFrom"></span></li>
        <li class="list-group-item bg-info"> Till <span ng-bind="$ctrl.getTimeTo"></span></li>
     </ul>
   </div>
  </div>
  <div class="container-fluid col-md-12">
    <div class="col-md-9">
      <div id="gridTable" class="gridTable flex" ui-grid="$ctrl.serchResultTable"  ui-grid-infinite-scroll  ui-grid-cellNav ui-grid-cell-contents>
      </div>
    </div>
    <div class='col-md-3 text-center'>
        <h4>Urls which You select</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="url in $ctrl.urlArray"><span ng-bind="url"></span></li>
       </ul>
    </div>
  </div>
</div>
