<form class="form-signin" id="login" name="$ctrl.userlogin"  novalidate>
  <ul class="list-group" ng-repeat="key in $ctrl.showData">
    <li class="list-group-item list-group-item-info ">name: {{key.name}}</li>
    <li class="list-group-item list-group-item-info">email: {{key.email}}</li>
    <li class="list-group-item list-group-item-info">role: {{key.role}}</li>
    <li class="list-group-item list-group-item-info">details: {{key.details}}</li>
    <li class="list-group-item list-group-item-info">image:<img src={{key.image}} class="user_image"></li>
  </ul>
  <div>
    <input type="checkbox"
           placeholder="Details"
           name="details"
           ng-model="$ctrl.userData"
           required autofocus>
    <p class="glyphicon glyphicon-ok text-success">Agree</p>
  </div>
  <a ui-sref='userlist' >
    <button class="btn btn-lg btn-primary pull-right"
            ng-click="$ctrl.submit()"
            ng-disabled="$ctrl.userlogin.$invalid">Save
    </button>
  </a>
  <a class="btn btn-lg btn-primary pull-left" ui-sref="authorization.file">Back</a>
</form>
<br>

