.active__item{
  padding-bottom: 16px;
  border-bottom: 4px solid #1046F5;
}
.passive__item{
  padding: 20px;
  text-align: center;
}
.nav__top {
  padding: 15px 30px;
  background: lightgrey;
  display: flex;
  flex-direction: row-reverse;
}