<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
       <label>Choose user by name</label>
       <ita-select config='$ctrl.fullDB'  users="$ctrl.users" on-update="$ctrl.updateUser($event)"></ita-select>
       <label>Choose site by url</label>
       <ita-selectsite config="$ctrl.urlDB"  sites="$ctrl.sites" on-update="$ctrl.updateSite($event)">
       </ita-selectsite>
	   </div>
	   <div class="col-md-6">
       <timedatepicker time="$ctrl.timeFrom" date="$ctrl.dateFrom" on-update="$ctrl.updateTimeFrom($event)"></timedatepicker>
      <timedatepicker time="$ctrl.timeTo" date="$ctrl.dateTo" on-update="$ctrl.updateTimeTo($event)"></timedatepicker>
      <button class="btn btn-primary btn-lg" ng-click="$ctrl.sendFilterData()" ng-disabled="$ctrl.validPeriod()">Search</button>
      <div ng-messages="{'required':$ctrl.validPeriod()}">
        <p class="text-danger" ng-message="required">Your time interval is incorrect!</p>
      </div>
    </div>
  </div>
</div>