<p class="conteiner col-md-4"><h2>Statistic Component</h2></p>
<div class="flex flex-center"  ng-if="$ctrl.buildChart">
  <ita-chart config="$ctrl.progresschart"></ita-chart>
  <ita-chart config="$ctrl.piechart"></ita-chart>
  <ita-chart config="$ctrl.profitschart"></ita-chart>
</div>
