.ui-select-choices span{
	height: 40px;
    font-size: 20px;	
}
.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
}
.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 5px 5px 2px 5px;
  border: 1px solid skyblue;
  border-radius: 0;
  background: white;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 2.6em;
  line-height: 0.75;
  color: red;
}
.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
    text-decoration: none;
    background-color: skyblue;
	color: white;
}
.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: lightgray;
}