<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10">
      <ui-select multiple ng-model="$ctrl.sites.selectedItem" theme="bootstrap"  on-select="$ctrl.saveSite()">
      <ui-select-match placeholder="Select or search a p..">{{$item.url}}
        <span ng-bind="$ctrl.selected.url" class="col-sm-6" ></span>
      </ui-select-match>
      <ui-select-choices repeat="item in ($ctrl.config | filter: $select.search) track by $index">
        <span ng-bind="item.url"></span>
      </ui-select-choices>
      </ui-select>
    </div>
  </div>
</form>