<a class="button" ui-sref='authorization' ><button class="btn btn-primary" ng-click="$ctrl.clearLocStorage()">Add New contact</button></a>

<div class="container-fluid flex">
  <div>
    <date format='$ctrl.dateFormat'></date>
  </div>

  <div>
    <settings save='$ctrl.settingsChanged(newSettings)'></settings>
  </div>

  <div class='grid_table' ng-if='$ctrl.isTableMounted'>
    <user-grid rows='$ctrl.rowsNumber'></user-grid>
  </div>
</div>