<p class="input-group">
  <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.date" is-open="$ctrl.popupOpened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.saveDate()" alt-input-formats="$ctrl.altInputFormats" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>