.gridTable
  font-size 18px
  width 750px
  margin 0 auto
.temp
   background #55ACEE
   padding 10px
   color white
   font-size 16px
.rolefor
  color #55ACEE
.smaller
  font-size 15px
  font-style italic
.img
  position relative
  left 30px
