<div class="text-center">
  <h3>Upload image</h3>
  <form>
    <input type="file" onchange="angular.element(this).scope().$ctrl.uploadImage(this)" accept="image/*">
    <img class="btn btn-default btn-file user_image" src="{{$ctrl.imageContent}}" alt="user image">
  </form>
</div>
<a ui-sref="authorization.save">
  <button class="btn btn-lg btn-primary pull-right">Next</button>
</a>
<a ui-sref="authorization.password">
  <button class="btn btn-lg btn-primary pull-left">Back</button>
</a>