<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h1 class="text-center login-title">Create User</h1>
    <div class ="text-center status-buttons">
      <a ui-sref-active-eq="active" ui-sref="authorization">
        <span>1</span>
      </a>
      <a ui-sref-active="active" ui-sref=".password">
        <span>2</span>
      </a>
      <a ui-sref-active="active" ui-sref="authorization.file">
        <span>3</span>
      </a>
      <a ui-sref-active="active" ui-sref="authorization.save">
        <span>4</span>
      </a>
    </div>
    <div ui-view>
      <form class="form-signin" id="login" name="$ctrl.userlogin"  novalidate>
        <input type="text"
               class="form-control"
               placeholder="Name"
               name="username"
               ng-model="$ctrl.userData.userName"
               ng-minlength=3
               ng-maxlength=20  required autofocus>
        <div  class="text-danger" ng-messages="$ctrl.userlogin.username.$error">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Name must be over 3 characters</div>
          <div ng-message="maxlength">Name must not exceed 20 characters</div>
        </div>
        <br>
        <input type="email"
               class="form-control"
               placeholder="email"
               name="email"
               ng-model="$ctrl.userData.userEmail"
               ng-minlength=3
               ng-maxlength=20 required autofocus>
        <div  class="text-danger" ng-messages="$ctrl.userlogin.email.$error">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Name must be over 3 characters</div>
          <div ng-message="maxlength">Name must not exceed 20 characters</div>
          <div ng-message="email">Your email address is invalid</div>
        </div>
        <br>
        <label> Role: </label><br>
        <select class="form-control" name="singleSelect" ng-model="$ctrl.userData.userRole">
          <option value="Admin">Admin</option>
          <option value="User">User</option>
        </select>
        <br>
        <input type="text"
               class="form-control"
               placeholder="Details"
               name="details"
               ng-model="$ctrl.userData.userDetails"
               ng-minlength=1
               ng-maxlength=10  required autofocus>
        <br>
        <a ui-sref='.password'>
          <button class="btn btn-lg btn-primary pull-right"
                  ng-click="$ctrl.submit()"
                  ng-disabled="$ctrl.userlogin.$invalid"> Next
          </button>
        </a>
      </form>
    </div>
  </div>
</div>


